.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  margin-left: 10px;
  background: #6ea780;
  height: 31px;
  width: 33px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.pagination li a {
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.pagination li.active {
  background: yellow;
  background: #cd4208;
}
